@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h3 {
    @apply text-xl font-bold md:text-2xl;
  }

  h4 {
    @apply text-lg font-bold md:text-xl;
  }
  body {
    @apply font-primary bg-white text-[#222222];
  }
}

@layer utilities {
  .layout {
    @apply mx-auto w-11/12 max-w-6xl;
  }
  .btn {
    @apply inline-flex items-center justify-center rounded-full border px-6 lg:px-8;
  }
  .btn-primary {
    @apply from-primary-50 rounded-full border-transparent bg-gradient-to-b to-blue-600 text-white;
  }
  .btn-secondary {
    @apply border-primary-50 text-primary-50 bg-transparent;
  }
}
